#TopFooter {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(48, 131, 255);
    font-size: 0.8rem;
    color: white;
}

.smallcard {
    display: flex;
    align-items: center;
}

.imgcard {
    height: 40px;
    margin: 15%;
}

#MidFooter {
    font-weight: bold;
    background-image: url('/public/assets/footer-bg.jpg');
    display: flex;
    color: lightgray;

    #sitemap {
        .col {
            color: white;
            display: flex;
            margin-top: 5%;
            margin-bottom: 5%;

            .m-tp {
                margin-top: 15px;
            }

            .collist {
                margin-left: 15px;
                display: flex;

                ul {
                    margin-right: 15px;
                }
            }
        }
    }

    #dclogo {
        display: flex;
        justify-content: flex-end;

        img {
            width: 70%;
            height: 100%;
        }
    }
}

#BottomFooter {
    display: flex;
    background-color: #303030;
    height: 111px;

    #bottombar {
        .button {
            margin-top: 35px;
            border: 2px solid blue;
            padding: 15px;
            font-size: 1rem;
            color: white;
            background-color: transparent;
        }

        .socialbottom {
            margin-top: 35px;
            display: flex;
            text-align: center;

            .follow {
                color: blue;
                font-size: 1.3rem;
                margin-top: 10px;
            }

            a {
                margin-left: 20px;
            }
        }
    }
}